@font-face {
    font-family: 'GreatVibes';
    src: url('GreatVibes-Regular.ttf');
}

body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fafafa;
    font-family: 'GreatVibes';
    font-weight: 400;
}

.content {
    text-align: center;
}

.typing {
    color: #000000;
    font-size: 60px;
    position: relative;
}
